<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27768165584-assbd82k340dem7vh730762uj2ofk4ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27768165584-assbd82k340dem7vh730762uj2ofk4ok</string>
	<key>API_KEY</key>
	<string>AIzaSyBHPkqjKT9tACtCqwo7iJglZ4eV_uVh5Js</string>
	<key>GCM_SENDER_ID</key>
	<string>27768165584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OpenMechanic.client</string>
	<key>PROJECT_ID</key>
	<string>openmechanic-cfdb2</string>
	<key>STORAGE_BUCKET</key>
	<string>openmechanic-cfdb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27768165584:ios:ecf8d24349771b587abad5</string>
</dict>
</plist>